<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:400' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp,app}) /static/styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
    <meta property="og:title" content="Brainstorming" />
    <meta property="og:site_name" content="Braindump" />
    <meta property="og:url" content="http://samples.ogp.me/136756249803614" />
    <meta property="og:description" content="http://samples.ogp.me/390580850990722" />
    <meta property="fb:app_id" content="123456" />
  </head>
  <body ng-app="braind">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-view=""></div>
    <div class="footer">
      <div class="container">
        <small class="text-muted">braindump powered by <a href="http://www.atizo360.com">atizo 360°</a></small>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="/static/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/static/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script>
        {% if initial_brainstorming %}
            window.initialBrainstorming = {{ initial_brainstorming|safe }};
        {% endif %}
        {% if initial_ideas %}
            window.initialIdeas = {{ initial_ideas|safe }};
        {% endif %}
        window.email = '{{ email }}';
        window.name = '{{ name }}';
    </script>

    <!-- build:js /static/scripts/vendor.js -->
    <script src="/static/bower_components/jquery/jquery.js"></script>
    <script src="/static/bower_components/lodash/dist/lodash.js"></script>
    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/static/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.js"></script>
    <script src="/static/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/static/bower_components/restangular/dist/restangular.js"></script>
    <script src="/static/bower_components/angular-elastic/elastic.js"></script>
    <script src="/static/bower_components/zeroclipboard/ZeroClipboard.js"></script>
    <script src="/static/bower_components/momentjs/moment.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) static/scripts/scripts.js -->
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/controllers/start.js"></script>
    <script src="/static/scripts/controllers/invite.js"></script>
    <script src="/static/scripts/controllers/brainstorming.js"></script>
    <script src="/static/scripts/services/brainstorming.js"></script>
    <script src="/static/scripts/services/date.js"></script>
    <script src="/static/scripts/directives/fromnow.js"></script>
    <script src="/static/scripts/directives/bdclip.js"></script>
    <script src="/static/scripts/directives/bdheader.js"></script>
    <!-- endbuild -->
</body>
</html>
