<bd-header tools="toolBar" href="/"></bd-header>
<div class="container">
  <h2 ng-bind="brainstorming.question"></h2>

  <div ng-if="brainstorming.details"
       ng-bind="brainstorming.details"></div>
  <div ng-bind="brainstorming.createdFormatted"></div>

  <form name="form" class="well text-left" role="form" ng-submit="create()" novalidate>
    <div ng-show="fullform" class="form-show form-group">
      <input ng-model="formData.title" type="text" class="form-control input-bold"
             placeholder="Title (optional)">
    </div>
    <textarea rows="1" ng-model="formData.text" ng-click="fullform=true"
              class="form-control msd-elastic" placeholder="Add idea" required="required"></textarea>

    <div ng-show="fullform" class="form-show">
      <div class="form-group">
        <input ng-model="formData.creatorName" type="text" class="form-control"
               placeholder="Name (optional)">
      </div>
      <button ng-disabled="form.$invalid" type="submit" class="btn btn-info">Add</button>
    </div>
  </form>

  <div masonry column-width="230" gap="10">
    <div ng-repeat="idea in ideas" class="idea masonry-brick">
      <div class="content" ng-class="getIdeaSizeClassName(idea)">
        <div ng-if="idea.title" ng-bind="idea.title"
             class="title"></div>
        <div ng-bind="idea.text"
             class="text"></div>
      </div>
      <div class="footer">
        <div ng-if="idea.creatorName"
             class="name">by <span ng-bind="idea.creatorName"></span></div>
        <bd-from-now value="idea.created"
                     class="date"></bd-from-now>
      </div>
    </div>
  </div>
</div>