<div class="container">
  <h2 ng-bind="brainstorming.question"></h2>

  <div ng-if="brainstorming.details"
       ng-bind="brainstorming.details"></div>
  <div ng-bind="brainstorming.created"></div>

  <form name="form" class="well text-left" role="form" ng-submit="create()" novalidate>
    <div ng-show="fullform" class="form-show form-group">
      <input ng-model="formData.title" type="text" class="form-control input-bold"
             placeholder="Title (optional)">
    </div>
    <textarea rows="1" ng-model="formData.text" ng-click="fullform=true"
              class="form-control msd-elastic" placeholder="Add idea" required="required"></textarea>

    <div ng-show="fullform" class="form-show">
      <div class="form-group">

      </div>
      <button ng-disabled="form.$invalid" type="submit" class="btn btn-info">Add</button>
    </div>
  </form>

  <ul>
    <li ng-repeat="idea in ideas">
      <h3 ng-bind="idea.title"></h3>

      <div ng-bind="idea.text"></div>
      <div ng-bind="idea.created"></div>
    </li>
  </ul>
</div>