<div bd-header tools="toolBar" href="/"></div>
<div class="container">
  <h2 ng-bind="brainstorming.question"></h2>

  <div ng-if="brainstorming.detailsHTML"
       ng-bind-html="brainstorming.detailsHTML"></div>

  <div>
    <span ng-bind="brainstorming.createdFormatted" class="text-muted small"></span>
    <a title="Edit" class="edit-link" ng-href="{{ editLink }}"><span class="icon-pencil"></span></a>
  </div>

  <form name="form" class="well well-limit text-left" role="form" ng-submit="create()" novalidate>

    <div ng-show="fullform" class="form-show form-group">
      <input ng-model="formData.title" type="text" class="form-control input-bold"
             placeholder="Title (optional)">
    </div>
    <textarea rows="1" ng-model="formData.text" ng-click="fullform=true"
              class="form-control msd-elastic" placeholder="Add idea" required="required"></textarea>

    <div ng-show="fullform" class="form-show">
      <div class="form-group">
        <input ng-model="formData.creatorName" type="text" class="form-control"
               placeholder="Name (optional)">
      </div>

      <div bd-upload file="file" ng-model="ipIdeaAddCtrl.idea.image.src.large"></div>

      <button ng-disabled="form.$invalid" type="submit" class="btn btn-info">Add</button>
    </div>
  </form>

  <div class="idea-masonry" masonry min-column-width="220" gap="15">
    <div ng-repeat="idea in ideas track by idea.id"
         class="masonry-brick">
      <div class="bd-idea" resource="idea" limit-text="true" dynamic-text-size="true" ng-click="openDetail(idea)"></div>
    </div>
  </div>
</div>
