<bd-header>
  <h2>Your brainstorming has been created.</h2>
</bd-header>
<div class="container">


  <div class="well">
    <p ng-show="user">
      The following link has been sent to {{ user.email }}.
    </p>

    <p>Send this link to anyone you wish to invite.</p>

    <div class="row invite-grid">
      <div class="col-sm-6"><a class="share-link" href="{{ bs.url }}">{{ bs.url }}</a></div>
    </div>

    <div class="row invite-grid">
      <div class="col-sm-6">
        <a style="width: 100%" class="btn btn-default" href="" bd-clip-copy="getLink()"><span
                class="glyphicon glyphicon-paperclip"></span> Copy link</a>
      </div>
    </div>

    <div class="row invite-grid">
      <div class="col-sm-6">
        <a style="width: 100%" class="btn btn-info" target="_blank"
           href="mailto:?subject={{ subject }}&body={{ body }}"><span
                class="glyphicon glyphicon-envelope"></span> Invite by email</a>
      </div>
    </div>
  </div>
</div>