<div class="header banner">
  <div class="layer v1"></div>
  <div class="layer r1"></div>
  <div class="layer bar"><h3>simplify brainstorming</h3></div>
  <div class="layer logo">
    <span ng-click="fullform=false; reset()" class="icon-logo"></span>
  </div>
</div>

<div class="container start text-center">

  <h2>Capture, connect and share ideas easily!</h2>

  <form name="form" class="well well-limit text-left" role="form" ng-submit="create()" novalidate>
    <input ng-model="formData.question" ng-click="fullform=true" type="text" class="form-control input-bold"
           placeholder="Ask a question to start" required="required">

    <div ng-show="fullform" class="form-show">
      <div class="form-group">
        <input ng-model="formData.creatorEmail" type="email" class="form-control"
               placeholder="Your email" required="required">
        <span class="help-block">Used to manage your brainstorming. Will not be shown to others.</span>
      </div>
      <div class="form-group">
        <textarea rows="1" ng-model="formData.details" class="form-control msd-elastic"
                  placeholder="Add details (optional)"></textarea>
      </div>
      <button ng-disabled="form.$invalid" type="submit" class="btn btn-info">Create</button>
    </div>
    <div ng-show="!fullform" class="demo">
      <div>or</div>
      <a ng-href="/{{ demoBrainstorming }}">View example</a>
    </div>
    <div ng-show="loading" class="loader-over">
      <div class="loader"></div>
    </div>
  </form>

  <h3 ng-show="rb">Recent brainstormings</h3>

  <div ng-repeat="b in rb">
    <a class="btn btn-link" href="{{ b.url }}">{{ b.question | bdCut:true:40:' ...' }}</a>
  </div>
</div>