<div class="header banner">
  <div class="layer v1"></div>
  <div class="layer r1"></div>
  <div class="layer bar"><h3>connect your brains</h3></div>
  <div class="layer logo">
    <span ng-click="fullform=false; reset()" class="icon-logo"></span>
  </div>
</div>

<div class="container start text-center">
  <form name="form" class="well text-left" role="form" ng-submit="create()" novalidate>
    <input ng-model="formData.question" ng-click="fullform=true" type="text" class="form-control input-bold"
           placeholder="Ask a question to start" required="required">

    <div ng-show="fullform" class="form-show">
      <div class="form-group">
        <input ng-model="formData.creatorEmail" type="email" class="form-control"
               placeholder="Your email" required="required">
        <span class="help-block">Used to manage your brainstorming. Will not be shown to others.</span>
      </div>
      <div class="form-group">
        <textarea rows="1" ng-model="formData.details" class="form-control msd-elastic"
                  placeholder="Add details (optional)"></textarea>
      </div>
      <button ng-disabled="form.$invalid" type="submit" class="btn btn-info">Create</button>
    </div>
  </form>

  <h3>Recent brainstromings</h3>

  <div ng-repeat="b in rb">
    <a class="btn btn-link" href="{{ b.url }}">{{ b.question }}</a>
  </div>
</div>