<div class="header">
  <img ng-click="fullform=false; reset()" src="static/images/logo.png" alt="braindump.me">
</div>

<div class="start text-center">
  <h1>connect your brains</h1>

  <form name="form" class="well text-left" role="form" novalidate>
    <div ng-class="{'form-group': fullform}">
      <input ng-model="bs.question" ng-click="fullform=true" type="text" class="form-control input-bold"
             placeholder="Add question" required="required">
    </div>
    <div ng-show="fullform" class="form-show">
      <div class="form-group">
        <input ng-model="bs.creatorEmail" type="email" class="form-control"
               placeholder="Your email" required="required">
        <span class="help-block">Used to manage your brainstorming. Will not be shown to others.</span>
      </div>
      <div class="form-group">
        <textarea rows="1" ng-model="bs.details" class="form-control msd-elastic"
                  placeholder="Add details (optional)"></textarea>
      </div>
      <button ng-click="create()" ng-disabled="form.$invalid" type="button" class="btn btn-info">Create</button>
    </div>
  </form>
</div>

<div class="footer">
  <small class="text-muted">braindump powered by <a href="http://www.atizo360.com">atizo 360°</a></small>
</div>