<div class="header">
  <div class="layer v1"></div>
  <div class="layer r1"></div>
  <div class="layer bar">
    <div class="container" ng-click="action()">
      <a class="nav-logo" href="{{ href }}"><span class="icon-logo"></span></a>
      <a ng-if="title" href="{{ href }}"> {{ title }}</a>

      <div ng-if="tools" class="tools pull-right">
        <a ng-repeat="tool in tools" class="btn btn-link" href="{{ tool.href }}"><span
                class="glyphicon glyphicon-{{ tool.class }}"></span></a>
      </div>
    </div>
  </div>
</div>