<div ng-style="{'background-color': resource.color}"
     ng-class="[limit ? 'limit' : '', limit && resource.preview ? 'limit-img' : '']">
  <div ng-if="limit" class="image-mask" ng-show="resource.preview">
    <img class="img-responsive" ng-src="{{ resource.preview }}">
  </div>
  <div ng-if="!limit" ng-show="resource.image">
    <img class="img-responsive" ng-src="{{ resource.image }}">
  </div>
  <div class="cindent">
    <div class="content" ng-class="[sizeClass]">
      <div ng-if="resource.title" ng-bind="resource.title"
           class="title"></div>
      <div ng-bind-html="resource.textHTML"
           class="text"></div>
      <div class="fade-out {{ resource.colorCode }}"></div>
    </div>
    <div class="footer small">
      <div class="name">
        #{{ resource.number }} <span ng-if="resource.creatorName"> - by {{ resource.creatorName }}</span>
      </div>
      <div bd-from-now="{{ resource.created }}"
           class="date"></div>
      <a href="" alt="Rate up" title="Rate up" ng-click="rate($event)" class="rate-up"
         ng-if="resource.id && !hideRatings">
        <i class="icon-thumbs-up"></i>
        <span class="small" ng-bind="resource.ratings" ng-if="resource.ratings"></span>
      </a>
    </div>
  </div>
</div>