<div class="content" ng-class="[sizeClass, limitText ? 'limit-text' : '']">
  <div ng-if="resource.title" ng-bind="resource.title"
       class="title"></div>
  <div ng-bind="resource.text"
       class="text"></div>
</div>
<div class="footer small">
  <div ng-if="resource.creatorName"
       class="name">by <span ng-bind="resource.creatorName"></span></div>
  <bd-from-now value="resource.created"
               class="date"></bd-from-now>
  <a href="" alt="Rate up" title="Rate up" ng-click="rate($event)" class="rate-up pull-right" ng-if="resource.id && !hideRatings">
    <i class="glyphicon glyphicon-thumbs-up"></i>
    <span class="small" ng-bind="resource.ratings"></span>
  </a>
</div>