@import "compass/css3/transform";

a.edit-link {
  padding-left: $padding-large-vertical;
}

.idea-masonry {
  position: relative;
  min-width: 100%;
  height: 9999px; // force scrollbar for height calculation

  .masonry-brick {
    visibility: hidden;
    position: absolute;
    @include translate(0, 0);
    background-color: #fff;
    @include box-shadow(0 2px 1px rgba(0, 0, 0, 0.08));
    cursor: pointer;

    &.show {
      visibility: visible;
    }
  }
}

div.fade-out {
  display: none;
}

.limited .limit, .limit-img {

  div.fade-out {
    display: block;
    height: 36px;

    &.c1 {
      @include background-image(linear-gradient(rgba(249, 132, 106, 0), rgba(249, 132, 106, 1)));
    }

    &.c2 {
      @include background-image(linear-gradient(rgba(255, 201, 94, 0), rgba(255, 201, 94, 1)));
    }

    &.c3 {
      @include background-image(linear-gradient(rgba(241, 244, 78, 0), rgba(241, 244, 78, 1)));
    }

    &.c4 {
      @include background-image(linear-gradient(rgba(201, 235, 93, 0), rgba(201, 235, 93, 1)));
    }

    &.c5 {
      @include background-image(linear-gradient(rgba(135, 214, 228, 0), rgba(135, 214, 228, 1)));
    }

    &.c6 {
      @include background-image(linear-gradient(rgba(146, 229, 201, 0), rgba(146, 229, 201, 1)));
    }
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.bd-idea {
  display: block;

  a {
    color: #666;
    &:hover {
      color: #333;
    }
  }

  img {
    width: 100%;
  }

  .cindent {
    padding: 15px;
  }

  .limit {

    &.limit-img {
      .text {
        max-height: 160px - $padding-large-vertical * 2;
      }
    }

    .text {
      min-height: 100px - $padding-large-vertical * 2;
      max-height: 360px - $padding-large-vertical * 2;
      overflow: hidden;
    }

    .image-mask {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .content {
    font-family: $font-family-serif;
    position: relative;

    .title {
      font-weight: 700;
    }
    .title, .text {
      word-wrap: break-word;
    }

    pre {
      font-family: $font-family-serif;
      margin: 0;
    }

    p {
      margin: 0;
    }

    /* custom font for the idea cards */
    &.size-1, &.size-2, &.size-3, &.size-4, &.size-5 {
      font-family: $font-family-serif;
      font-weight: 300;

      .title {
        font-weight: 400;
      }
    }
  }

  .footer {
    margin-top: $padding-large-vertical * 2;
    position: relative; // see .rate-up below

    .date {
      @include opacity(0.5);
    }

    .rate-up {
      color: #000;
      @include opacity(0.5);

      i {
        font-size: 16px;
      }

      &:hover {
        @include opacity(1);
      }

      /* for touch: make clickable area roughly 40x40 wide */
      padding: 15px;
      position: absolute;
      right: 0;
      bottom: 0;
      @include translate(15px, 15px);
    }
  }
}

/* custom font sizes for the idea cards, with a wide and a narrow setting */
.bd-idea .content {
  &.size-1 {
    font-size: 13px;
    line-height: 16px;
  }
  &.size-2 {
    font-size: 15px;
    line-height: 22px;
  }
  &.size-3 {
    font-size: 18px;
    line-height: 25px;
  }
  &.size-4 {
    font-size: 28px;
    line-height: 38px;
  }
  &.size-5 {
    font-size: 38px;
    line-height: 50px;
  }
}

@media (min-width: $screen-sm-min) {
  .bd-idea .content {
    &.size-1 {
      font-size: 14px;
      line-height: 22px;
    }
    &.size-2 {
      font-size: 18px;
      line-height: 25px;
    }
    &.size-3 {
      font-size: 24px;
      line-height: 34px;
    }
    &.size-4 {
      font-size: 36px;
      line-height: 48px;
    }
    &.size-5 {
      font-size: 48px;
      line-height: 58px;
    }
  }
}

.bd-modal-dialog {

  .toolbar {
    padding: 0px 15px 10px;
    @include clearfix;

    a.cancel {
      padding: 6px 0 0 20px;
      color: $text-color;
    }
  }

  .modal-body {
    padding: 15px;
    padding-bottom: 0;
  }

  .tools {
    padding-top: 5px;
    a {
      margin-right: $padding-large-horizontal * 2;
      color: #000;
      @include opacity(0.5);

      &:hover {
        @include opacity(1);
      }

      [class^="icon-"] {
        font-size: $font-size-large;
      }
    }
  }
}