.idea {
  background-color: #fff;
  padding: $padding-large-vertical * 2;
  width: 250px - $padding-large-vertical * 2;
  @include box-shadow(0 2px 1px rgba(0, 0, 0, 0.08));
  position: absolute;

  &.fluid {
    position: static;
    width: 100%;
    margin-bottom: $padding-large-vertical;
  }

  .content {
    min-height: 100px - $padding-large-vertical * 2;
    max-height: 360px - $padding-large-vertical * 2;
    overflow: hidden;

    /* custom font sizes for the idea cards */
    font-family: $font-family-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;

    &.length-25 {
      font-size: 48px;
      line-height: 60px;
    }
    &.length-50 {
      font-size: 36px;
      line-height: 48px;
    }
    &.length-150 {
      font-size: 24px;
      line-height: 36px;
    }
    &.length-300 {
      font-size: 18px;
      line-height: 28px;
    }

    .title {
      font-weight: 400;
    }
    .title, .text {
      word-wrap: break-word;
    }
  }

  .footer {
    margin-top: $padding-large-vertical * 2;

    .date {
      @include opacity(0.5);
    }
  }
}
