.header {
  background-image: image-url("/static/images/header_bg.jpg");
  background-size: 100% 100%;

  @include background-image(linear-gradient(left, #e5703b, #c14754));
  position: relative;
  overflow: hidden;
  color: #fff;
  height: 42px;

  .layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }

  .v1 {
    z-index: 1;
    @include background-image(linear-gradient(rgba(213, 69, 61, 0), rgba(213, 69, 61, 1)));
  }

  .r1 {
    z-index: 2;
    @include background-image(radial-gradient(center right, rgba(155, 50, 91, 1), rgba(155, 50, 91, 0) 50%));
    height: 200%;
    width: 100%;
    top: -60%;
  }


  .bar {
    z-index: 3;
    background-image: image-url("/static/images/header_bar.jpg");
    background-size: 100% 100%;
    @include background-image(linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.10)));
    font-size: $font-size-h4;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;

    a {
      @include inline-block;
      color: #fff;
      line-height: 30px;
      padding: 5px 0;

      &:hover {
        color: #fff;
      }

      &.nav-logo {
        font-size: 30px;
        width: 40px;
      }
    }

    .tools {
      @include inline-block;

      .btn {
        width: 48px;
        font-size: 18px;
      }
    }
  }

  &.banner {
    height: 140px;
    text-align: center;

    .bar {
      border-top: 1px solid rgba(255, 255, 255, 0.35);
      font-weight: 300;
      bottom: 0;
      height: auto;

      h3 {
        font-weight: 300;
        font-family: 'Roboto Slab', serif;
        margin: 0;
        padding: 5px 0px 9px;
        color: #fff;
      }
    }

    .logo {
      z-index: 4;
      text-align: center;
      font-size: 80px;
      top: -5px;
      span {
        cursor: pointer;
      }
    }
  }
}