.masonry {
  position: relative;
  width: 100%;
  height: auto;
}

.masonry-brick {
  @include translate(0,0);
  @include transition-timing-function(ease-out);
  @include transition-duration(0.4s);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}