div.start {
  .btn {
    width: 100%;
  }
}

/* form animation */
.form-show {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
  opacity: 1;
  max-height: 800px;
  overflow: hidden;
}

.form-show > div.form-group:first-child {
  margin-top: 15px;
}

.form-show.ng-hide-add,
.form-show.ng-hide-remove {
  display: block !important;
}

.form-show.ng-hide {
  opacity: 0;
  max-height: 0px;
}

.demo {
  padding: $padding-base-vertical * 2 0 0;
  text-align: center;

  div {
    padding-bottom: $padding-base-vertical;
  }
}

@-webkit-keyframes flash {
  0% {
    @include opacity(0);
  }
  50% {
    @include opacity(0);
  }
  51% {
    @include opacity(0.9);
  }
  52% {
    @include opacity(0);
  }
  53% {
    @include opacity(0);
  }
  54% {
    @include opacity(1);
  }
  64% {
    @include opacity(0);
  }
  100% {
    @include opacity(0);
  }
}

@-webkit-keyframes darken {
  0% {
    @include opacity(0);
  }
  35% {
    @include opacity(0.0);
  }
  51% {
    @include opacity(0.07);
  }
  64% {
    @include opacity(0.07);
  }
  88% {
    @include opacity(0);
  }
  100% {
    @include opacity(0);
  }
}

.defl {
  -webkit-animation: flash 7s ease-out infinite;
  -moz-animation: flash 7s ease-out infinite;
  -o-animation: flash 7s ease-out infinite;
  animation: flash 7s ease-out infinite;
  position: absolute;
  @include translate(-50%, 0);
  left: 50%;
  top: 0;
  max-width: 150px;
  width: 18%;
  height: 100%;
  background-image: image-url('/static/images/flash.png');
  background-repeat: no-repeat;
  background-position: 0 326px;
  background-size: 100%;
}

.dsky{
  -webkit-animation: darken 7s ease-out infinite;
  -moz-animation: darken 7s ease-out infinite;
  -o-animation: darken 7s ease-out infinite;
  animation: darken 7s ease-out infinite;
  @include opacity(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
}

.deco {
  position: absolute;
  top: 0;
  width: 13%;
  max-width: 150px;
  height: 100%;
  @include opacity(0.18);
  background-repeat: no-repeat;
  background-position: 0 320px;
  background-size: 100%;

  &.hl {
    background-image: image-url("/static/images/hl.png");
    left: 0px;
  }

  &.hr {
    background-image: image-url("/static/images/hr.png");
    right: 0px;
  }
}