$icon-font-path: "/static/styles/fonts/";

@import "compass/css3/images";
@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";

// Core variables and mixins
@import "variables";
@import "mixins";

// Reset
@import "sass-bootstrap/lib/normalize";
@import "sass-bootstrap/lib/print";

// Core CSS
@import "scaffolding";
@import "sass-bootstrap/lib/type";
@import "sass-bootstrap/lib/grid";
@import "forms";
@import "buttons";

// Utility classes
@import "sass-bootstrap/lib/utilities";
@import "sass-bootstrap/lib/responsive-utilities";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #EAEAEA;
}

h1, h2, h3, h4 {
  color: #D5453D;
}

// IE fix
textarea {
  min-height: 32px;
}

.gcnt {
  min-height: 100%;
  height: auto !important;
  position: relative;
  background-color: #EAEAEA;
  @include background-image(radial-gradient(center center, #FDFDFD, #DFDFDF));
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.topcnt {
  padding-bottom: $footer-height;
}

@import "icons";
@import "header";
@import "footer";
@import "start";
@import "invite";
@import "brainstorming";
@import "scroll";
@import "loader";
@import "well";
@import "modal";
